.contact-section {
  background: var(--contact-bg);
  overflow: hidden;
}

.contact-container {
  position: relative;
  padding-top: 240px;
  padding-bottom: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 2560px;
  margin: auto;
}

.contact-name-card-main {
  max-width: 480px;
  width: 90%;
  aspect-ratio: 1.75;
  background-color: var(--contact-main-card-bg);
  position: relative;
  z-index: 10;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.contact-name-card-wrapper {
  position: absolute;
  &.bg-1 {
    z-index: 5;
  }
  &.bg-2 {
    z-index: 2;
  }
  &.bg-3 {
    z-index: 3;
  }
  &.bg-4 {
    z-index: 1;
  }
  &.bg-5 {
    z-index: 4;
  }
}

.contact-name-card {
  width: 24vw;
  min-width: 480px;
  max-width: 600px;
  aspect-ratio: 1.75;
  box-sizing: border-box;
  padding: 24px 32px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
  &.bg-1 {
    background-color: #fbe9e2;
  }
  &.bg-2 {
    background-color: #d6c9e1;
  }
  &.bg-3 {
    background-color: #f1e0e8;
  }
  &.bg-4 {
    background-color: #f7e9f1;
  }
  &.bg-5 {
    background-color: #e8d6ef;
  }
}

.dark-mode {
  .contact-name-card {
    color: rgba(0, 0, 0, 0.2);
    &.bg-1 {
      background-color: #6d5052;
    }
    &.bg-2 {
      background-color: #4e406b;
    }
    &.bg-3 {
      background-color: #704058;
    }
    &.bg-4 {
      background-color: #582e43;
    }
    &.bg-5 {
      background-color: #6c5480;
    }
  }
}

.contact-name-card-text {
  color: rgba(0, 0, 0, 0.1);
  position: relative;
  &::before {
    content: 'Prawsang';
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0 2px 1px rgba(255, 255, 255, 0.3);
    mix-blend-mode: overlay;
  }
  &::after {
    content: 'Prawsang';
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    mix-blend-mode: overlay;
  }

  &.inverted {
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    color: $base-300;
    &::before {
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    }
    &::after {
      text-shadow: 0 -2px 1px rgba(255, 255, 255, 1);
    }
  }
}

.dark-mode {
  .contact-name-card-text {
    color: rgba(0, 0, 0, 0.05);
    &::before {
      content: 'Prawsang';
      position: absolute;
      top: 0;
      left: 0;
      text-shadow: 0 2px 1px rgba(255, 255, 255, 0.2);
      mix-blend-mode: overlay;
    }
    &::after {
      content: 'Prawsang';
      position: absolute;
      top: 0;
      left: 0;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
      mix-blend-mode: overlay;
    }
  }

  .contact-name-card-text.inverted {
    color: rgba(0, 0, 0, 0.2);
    &::before {
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    }
    &::after {
      text-shadow: 0 -2px 1px rgba(255, 255, 255, 0.1);
    }
  }
}
