.contact-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section {
  background: var(--contact-bg);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.contact-container {
  padding-top: 320px;
  padding-bottom: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 2560px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.contact-name-card-main {
  width: 480px;
  max-width: 95%;
  min-height: 274px;
  aspect-ratio: 1.75;
  background-color: var(--contact-main-card-bg);
  position: relative;
  z-index: 10;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.contact-name-card-wrapper {
  position: absolute;
  &.bg-1 {
    z-index: 5;
  }
  &.bg-2 {
    z-index: 2;
  }
  &.bg-3 {
    z-index: 3;
  }
  &.bg-4 {
    z-index: 1;
  }
  &.bg-5 {
    z-index: 4;
  }
}

.contact-name-card {
  width: 24vw;
  min-width: 420px;
  max-width: 600px;
  aspect-ratio: 1.75;
  box-sizing: border-box;
  padding: 24px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
  &.bg-1 {
    background-color: #ebe8f4;
  }
  &.bg-2 {
    background-color: #d6d6dd;
  }
  &.bg-3 {
    background-color: #ebe8f4;
  }
  &.bg-4 {
    background-color: #eeeef0;
  }
  &.bg-5 {
    background-color: #e7e7ea;
  }
}

.dark-mode {
  .contact-name-card {
    color: rgba(0, 0, 0, 0.2);
    // remove white lining in mac
    border: 1px solid transparent;
    &.bg-1 {
      background-color: #313135;
    }
    &.bg-2 {
      background-color: #222225;
    }
    &.bg-3 {
      background-color: #27272a;
    }
    &.bg-4 {
      background-color: $base-900;
    }
    &.bg-5 {
      background-color: $base-800;
    }
  }
}

.contact-name-card-text {
  color: rgba(0, 0, 0, 0.1);
  mix-blend-mode: overlay;
  position: relative;
  font-size: 1.75rem;
  &::before {
    content: 'Prawsang';
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0 2px 1px rgba(255, 255, 255, 0.4);
    mix-blend-mode: overlay;
  }
  &::after {
    content: 'Prawsang';
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
    mix-blend-mode: overlay;
  }

  &.inverted {
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    color: rgba(127, 122, 179, 0.72);
    // mix-blend-mode: normal;
    &::before {
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    }
    &::after {
      text-shadow: 0 -2px 1px rgba(255, 255, 255, 0.5);
    }
  }
}

.dark-mode {
  .contact-name-card-text {
    mix-blend-mode: normal;
    color: rgba(0, 0, 0, 0.05);
    &::before {
      content: 'Prawsang';
      position: absolute;
      top: 0;
      left: 0;
      text-shadow: 0 2px 1px rgba(255, 255, 255, 0.2);
      mix-blend-mode: overlay;
    }
    &::after {
      content: 'Prawsang';
      position: absolute;
      top: 0;
      left: 0;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
      mix-blend-mode: overlay;
    }
  }

  .contact-name-card-text.inverted {
    // mix-blend-mode: normal;
    color: rgba(82, 34, 138, 0.18);
    &::before {
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    }
    &::after {
      text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.1);
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .contact-name-card-text {
    font-size: 2rem;
  }

  .contact-name-card,
  .contact-name-card-main {
    padding: 24px 32px;
    min-width: 480px;
  }
}
