@import '../../colors';

.experience-container {
  position: relative;
  .timeline-container {
    align-self: stretch;
    position: relative;
  }
  .timeline-mark {
    width: 16px;
    height: 16px;
    border-radius: 999px;
    background-color: var(--timeline-bullet-bg);
    margin-top: 9px;
    z-index: 10;
    position: relative;
  }
  .timeline-line {
    position: absolute;
    top: 9px;
    bottom: -9px;
    left: 6px;
    width: 4px;
    background-color: var(--timeline-line-bg);
    z-index: 9;
  }

  .emoji-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
  .emoji-img-wrapper {
    display: flex;
    justify-content: center;
    max-width: 747px;
    width: 100%;
  }
  .animoji {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(max(20%, (100% - 1067px) / 2));
    display: flex;
    justify-content: flex-start;

    .aniomji-img {
      transform: rotate(5deg);
      width: 320px;
      aspect-ratio: 1;
      max-width: 80%;
    }
  }

  .laptop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(max(20%, (100% - 1067px) / 2));
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .laptop-img {
      width: 200px;
      aspect-ratio: 1;
      max-width: 60%;
      position: relative;
      bottom: 180px;
      transform: rotate(-15deg);
    }
  }
}

// 5vw | 90 vw | 5vw
// 5vw | 90/6vw | 90*2/3vw | 90/6vw | 5vw

// xxx | 1440px | xxx
// xxx | 1440/6px | 1440*2/3px | 1440/6px | xxx

// (100vw - 1440/6px - 1440/6px) /2
