@import '../../variables';

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-5%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-15%);
  }
}

.hero-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100vh;

  .gradient-container {
    filter: url(#goo);
    position: absolute;
    top: -16px;
    left: -16px;
    right: -16px;
    bottom: -16px;
  }

  .gradient-1,
  .gradient-2,
  .round-1,
  .round-2,
  .round-3,
  .round-4 {
    position: absolute;
  }

  .round-1,
  .round-2,
  .round-3,
  .round-4 {
    mix-blend-mode: color-burn;
  }

  .gradient-1,
  .gradient-2 {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .gradient-1 {
    background: #f5dcdd;
    background: linear-gradient(
      180deg,
      #f4d8d9 0,
      #e4d5f1 50%,
      #f6cfe2 75%,
      #f4e0dd 100%
    );
  }

  .gradient-2 {
    background: #d6c9e1;
    background: linear-gradient(-45deg, #d6c9e1, #ffefec, #c4bff1);
    opacity: 0.5;
  }

  .round-1 {
    background: transparent;
    background: radial-gradient(
      rgb(255, 149, 149) 0,
      rgba(153, 142, 255, 0) 50%
    );
    height: 100%;
    aspect-ratio: 1;
    opacity: 0.8;
    animation: moveVertical 30s ease infinite;
  }

  .round-2 {
    background: transparent;
    background: radial-gradient(
      rgba(209, 118, 255, 0.8) 0,
      rgba(255, 162, 145, 0) 50%
    );
    height: 100%;
    aspect-ratio: 1;
    opacity: 0.8;
    animation: moveInCircle 20s reverse infinite;
    transform-origin: calc(50% - 50vw);
    margin-left: 20vw;
  }

  .round-3 {
    background: transparent;
    background: radial-gradient(
      rgb(255, 175, 125) 0,
      rgba(221, 179, 255, 0) 50%
    );
    margin-left: 40vw;
    height: 100%;
    aspect-ratio: 1;
    opacity: 0.8;
    animation: moveInCircle 40s linear infinite;
    transform-origin: calc(70vw);
    margin-left: 50vw;
  }

  .round-4 {
    background: transparent;
    background: radial-gradient(
      rgba(255, 134, 195, 0.8) 0,
      rgba(136, 123, 255, 0) 50%
    );
    margin-left: 10vw;
    height: 100%;
    aspect-ratio: 1;
    opacity: 0.8;
    animation: moveHorizontal 20s ease infinite;
  }

  .round-5 {
    background: transparent;
    background: radial-gradient(
      rgba(228, 175, 255, 0.8) 0,
      rgba(136, 123, 255, 0) 50%
    );
    height: 100%;
    aspect-ratio: 1;
    opacity: 0.8;
    margin-left: 60vw;
    animation: moveVertical 20s ease infinite;
  }

  .hero-content {
    position: relative;
    z-index: 10;

    .hero-text {
      color: var(--hero-text);
      text-align: center;
      font-weight: 800;
      overflow: hidden;
      font-size: calc(90vw / 4.5);
      line-height: calc(90vw / 4.5);
      &.bottom-line {
        line-height: 1;
        margin-top: -5vw;
      }
      @media screen and (min-width: $breakpoint-md) {
        font-size: calc(90vw / 8.5);
        line-height: 1;
        &.bottom-line {
          margin-top: 0;
        }
      }
      @media screen and (min-width: $breakpoint-lg) {
        font-size: calc(min(100vw * 0.9, 1920px) / 8.5);
      }
    }
    .hero-break {
      flex-basis: 100%;
      height: 0;
      @media screen and (min-width: $breakpoint-md) {
        display: none;
      }
    }
    .hero-sub-text {
      &.bold {
        font-weight: 800;
      }
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      color: var(--hero-sub-text);
      @media screen and (min-width: $breakpoint-md) {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }
}

.dark-mode {
  .gradient-1 {
    background: #49305d;
    background: linear-gradient(
      180deg,
      #461f2c 0,
      #361e49 50%,
      #311335 75%,
      #38241c 100%
    );
  }

  .gradient-2 {
    background: #362643;
    background: linear-gradient(-45deg, #362643, #582e54, #684039);
    opacity: 0.5;
  }

  .round-1,
  .round-2,
  .round-3,
  .round-4 {
    mix-blend-mode: color-dodge;
  }

  .round-1 {
    background: transparent;
    background: radial-gradient(rgb(75, 29, 55) 0, rgba(69, 64, 115, 0) 50%);
  }

  .round-2 {
    background: transparent;
    background: radial-gradient(rgb(98, 54, 20) 0, rgba(98, 71, 87, 0) 50%);
  }

  .round-3 {
    background: transparent;
    background: radial-gradient(rgb(95, 52, 19) 0, rgba(98, 71, 87, 0) 50%);
  }

  .round-4 {
    background: transparent;

    background: radial-gradient(rgb(83, 12, 99) 0, rgba(69, 64, 115, 0) 50%);
  }

  .round-5 {
    background: transparent;
    background: radial-gradient(rgb(95, 24, 88) 0, rgba(69, 64, 115, 0) 50%);
  }
}
