@import '../../variables';

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-5%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-5%);
  }
}

.loading-overlay {
  background: $base-100;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;

  .loading-text {
    position: absolute;
    top: calc(50% + 6rem);
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
  }

  &.done {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem $primary-400);
}
.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem $primary-400;
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 $primary-400;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem $primary-400;
    opacity: 1;
  }
  50%,
  100% {
    box-shadow: inset 0 0 0 0 $primary-400;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%,
  50% {
    box-shadow: 0 0 0 0 $primary-400;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem $primary-400;
    opacity: 1;
  }
}

.hero-container {
  .round-1 {
    animation: moveVertical 30s ease infinite;
  }

  .round-2 {
    animation: moveInCircle 20s reverse infinite;
  }

  .round-3 {
    animation: moveInCircle 40s linear infinite;
  }

  .round-4 {
    animation: moveHorizontal 20s ease infinite;
  }

  .round-5 {
    animation: moveVertical 20s ease infinite;
  }
}
.hero-background {
  visibility: hidden;
}
.hero-background.dark {
  display: none;
}

// .gradient-container.blur-effect {
//   filter: url(#goo);
// }

.hero-container,
.skills-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;

  .gradient-container {
    transform: translateZ(0);
    position: absolute;
    top: -16px;
    left: -16px;
    right: -16px;
    bottom: -16px;
    background: url('hero-background.png');
    background-size: cover;
  }
  .round-1,
  .round-2,
  .round-3,
  .round-4,
  .round-5 {
    position: absolute;
  }

  .round-1,
  .round-2,
  .round-3,
  .round-4,
  .round-5 {
    mix-blend-mode: color-burn;
  }
  .round-1 {
    background: transparent;
    background: radial-gradient($base-300 0, transparent 50%);
    height: 100%;
    aspect-ratio: 1;
    opacity: 0.8;
  }

  .round-2 {
    background: transparent;
    background: radial-gradient(
      rgba(201, 179, 247, 0.75) 0,
      rgba(212, 212, 227, 0) 50%
    );
    height: 100%;
    aspect-ratio: 1;
    opacity: 0.8;
    transform-origin: calc(50% - 50vw);
    margin-left: 20vw;
  }

  .round-3 {
    background: transparent;
    background: radial-gradient($base-300 0, transparent 50%);
    margin-left: 40vw;
    height: 100%;
    aspect-ratio: 1;
    opacity: 0.8;
    transform-origin: calc(70vw);
    margin-left: 50vw;
  }

  .round-4 {
    background: transparent;
    background: radial-gradient(
      rgba(165, 138, 223, 0.75) 0,
      rgba(212, 212, 227, 0) 50%
    );
    margin-left: 10vw;
    height: 100%;
    aspect-ratio: 1;
    opacity: 0.8;
  }

  .round-5 {
    background: transparent;
    background: radial-gradient($base-300 0, transparent 50%);
    height: 100%;
    aspect-ratio: 1;
    opacity: 0.8;
    margin-left: 60vw;
  }

  .hero-content {
    position: relative;
    z-index: 10;

    .hero-text {
      color: var(--hero-text);
      text-align: center;
      font-weight: 800;
      overflow: hidden;
      font-size: calc(90vw / 4.5);
      line-height: calc(90vw / 4.5);
      &.bottom-line {
        line-height: 1;
        margin-top: -5vw;
      }
      @media screen and (min-width: $breakpoint-md) {
        font-size: calc(90vw / 8.5);
        line-height: 1;
        &.bottom-line {
          margin-top: 0;
        }
      }
      @media screen and (min-width: $breakpoint-lg) {
        font-size: calc(min(100vw * 0.9, 1920px) / 8.5);
      }
    }
    .hero-break {
      flex-basis: 100%;
      height: 0;
      @media screen and (min-width: $breakpoint-md) {
        display: none;
      }
    }
    .hero-sub-text {
      &.bold {
        font-weight: 800;
      }
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      color: var(--hero-sub-text);
      @media screen and (min-width: $breakpoint-md) {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }
}

@keyframes pulsInDark {
  0% {
    box-shadow: inset 0 0 0 1rem $primary-700;
    opacity: 1;
  }
  50%,
  100% {
    box-shadow: inset 0 0 0 0 $primary-700;
    opacity: 0;
  }
}

@keyframes pulsOutDark {
  0%,
  50% {
    box-shadow: 0 0 0 0 $primary-700;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem $primary-700;
    opacity: 1;
  }
}

.dark-mode {
  .hero-background.dark {
    display: block;
  }
  .hero-background {
    display: none;
  }
  .gradient-container {
    background: url('hero-background-dark.png');
    background-size: cover;
  }
  .loading-overlay {
    background: $base-950;
  }
  @media (hover: none) {
    .round-1,
    .round-2,
    .round-3,
    .round-4,
    .round-5 {
      mix-blend-mode: color-dodge;
    }

    .round-1 {
      background: transparent;
      background: radial-gradient(rgba(136, 20, 179, 0.53) 0, transparent 50%);
    }

    .round-2 {
      background: transparent;
      background: radial-gradient(rgb(63, 63, 66) 0, transparent 50%);
    }

    .round-3 {
      background: transparent;
      background: radial-gradient(#7b34bd88 0, transparent 50%);
    }

    .round-4 {
      background: transparent;
      background: radial-gradient(rgb(63, 63, 70) 0, transparent 50%);
    }

    .round-5 {
      background: transparent;
      background: radial-gradient(rgba(91, 32, 140, 0.36) 0, transparent 50%);
    }
  }

  @media (hover: hover) {
    // removes banding in larger computers
    .gradient-container {
      filter: saturate(200%) brightness(110%);
    }
    .hero-noise {
      display: none;
    }

    .round-1,
    .round-2,
    .round-3,
    .round-4,
    .round-5 {
      mix-blend-mode: color-dodge;
    }

    .round-1 {
      background: transparent;
      background: radial-gradient(rgba(136, 20, 179, 0.53) 0, transparent 50%),
        url('../../noise-dark.svg');
    }

    .round-2 {
      background: transparent;
      background: radial-gradient(rgb(63, 63, 66) 0, transparent 50%),
        url('../../noise-dark.svg');
      opacity: 0.5;
    }

    .round-3 {
      background: transparent;
      background: radial-gradient(#7b34bd88 0, transparent 50%),
        url('../../noise-dark.svg');
    }

    .round-4 {
      background: transparent;
      background: radial-gradient(rgb(63, 63, 70) 0, transparent 50%),
        url('../../noise-dark.svg');
      opacity: 0.5;
    }

    .round-5 {
      background: transparent;
      background: radial-gradient(rgba(91, 32, 140, 0.5) 0, transparent 50%),
        url('../../noise-dark.svg');
    }
  }

  .loader:before,
  .loader:after {
    content: '';
    animation: pulsOutDark 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem $primary-700);
  }
  .loader:before {
    box-shadow: inset 0 0 0 1rem $primary-700;
    animation-name: pulsInDark;
  }
  .loader:after {
    box-shadow: 0 0 0 0 $primary-700;
  }
}
