@import '../../variables';

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-5%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-5%);
  }
}

.hero-container {
  .round-1 {
    animation: moveVertical 30s ease infinite;
  }

  .round-2 {
    animation: moveInCircle 20s reverse infinite;
  }

  .round-3 {
    animation: moveInCircle 40s linear infinite;
  }

  .round-4 {
    animation: moveHorizontal 20s ease infinite;
  }

  .round-5 {
    animation: moveVertical 20s ease infinite;
  }
}

.hero-container {
  height: 100vh;
}

.hero-container,
.skills-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;

  .gradient-container {
    filter: url(#goo);
    position: absolute;
    top: -16px;
    left: -16px;
    right: -16px;
    bottom: -16px;
  }

  .gradient-1,
  .gradient-2,
  .round-1,
  .round-2,
  .round-3,
  .round-4 {
    position: absolute;
  }

  .round-1,
  .round-2,
  .round-3,
  .round-4 {
    mix-blend-mode: color-burn;
  }

  .gradient-1,
  .gradient-2 {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .gradient-1 {
    background: #c8c8d0;
    background: linear-gradient(
      180deg,
      #dfdfe6 0,
      $primary-100 50%,
      $base-50 75%,
      $base-100 100%
    );
  }

  .gradient-2 {
    background: #d6c9e1;
    background: linear-gradient(-45deg, $base-100, $primary-300, $base-200);
    opacity: 0.5;
  }

  .round-1 {
    background: transparent;
    background: radial-gradient($base-300 0, rgba(223, 223, 233, 0) 50%);
    height: 100%;
    aspect-ratio: 1;
    opacity: 0.8;
  }

  .round-2 {
    background: transparent;
    background: radial-gradient(
      rgba(201, 179, 247, 0.75) 0,
      rgba(212, 212, 227, 0) 50%
    );
    height: 100%;
    aspect-ratio: 1;
    opacity: 0.8;
    transform-origin: calc(50% - 50vw);
    margin-left: 20vw;
  }

  .round-3 {
    background: transparent;
    background: radial-gradient($base-300 0, rgba(223, 223, 233, 0) 50%);
    margin-left: 40vw;
    height: 100%;
    aspect-ratio: 1;
    opacity: 0.8;
    transform-origin: calc(70vw);
    margin-left: 50vw;
  }

  .round-4 {
    background: transparent;
    background: radial-gradient(
      rgba(165, 138, 223, 0.75) 0,
      rgba(212, 212, 227, 0) 50%
    );
    margin-left: 10vw;
    height: 100%;
    aspect-ratio: 1;
    opacity: 0.8;
  }

  .round-5 {
    background: transparent;
    background: radial-gradient($base-300 0, rgba(223, 223, 233, 0) 50%);
    height: 100%;
    aspect-ratio: 1;
    opacity: 0.8;
    margin-left: 60vw;
  }

  .hero-content {
    position: relative;
    z-index: 10;

    .hero-text {
      color: var(--hero-text);
      text-align: center;
      font-weight: 800;
      overflow: hidden;
      font-size: calc(90vw / 4.5);
      line-height: calc(90vw / 4.5);
      &.bottom-line {
        line-height: 1;
        margin-top: -5vw;
      }
      @media screen and (min-width: $breakpoint-md) {
        font-size: calc(90vw / 8.5);
        line-height: 1;
        &.bottom-line {
          margin-top: 0;
        }
      }
      @media screen and (min-width: $breakpoint-lg) {
        font-size: calc(min(100vw * 0.9, 1920px) / 8.5);
      }
    }
    .hero-break {
      flex-basis: 100%;
      height: 0;
      @media screen and (min-width: $breakpoint-md) {
        display: none;
      }
    }
    .hero-sub-text {
      &.bold {
        font-weight: 800;
      }
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      color: var(--hero-sub-text);
      @media screen and (min-width: $breakpoint-md) {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }
}

.dark-mode {
  .gradient-1 {
    background: $base-900;
    background: linear-gradient(
      180deg,
      #24242a 0,
      $base-900 50%,
      $base-950 75%,
      $base-800 100%
    );
  }

  .gradient-2 {
    background: $base-900;
    background: linear-gradient(-45deg, $base-800, $base-950, $base-900);
    opacity: 0.5;
  }

  .round-1,
  .round-2,
  .round-3,
  .round-4 {
    mix-blend-mode: color-dodge;
  }

  .round-1 {
    background: transparent;
    background: radial-gradient(
      rgba(136, 20, 179, 0.53) 0,
      rgba(63, 63, 70, 0) 50%
    );
  }

  .round-2 {
    background: transparent;
    background: radial-gradient(rgb(63, 63, 66) 0, (39, 39, 42, 0) 50%);
  }

  .round-3 {
    background: transparent;
    background: radial-gradient(#7b34bd88 0, rgba(33, 33, 37, 0) 50%);
  }

  .round-4 {
    background: transparent;
    background: radial-gradient(rgb(63, 63, 70) 0, rgba(39, 39, 42, 0) 50%);
  }

  .round-5 {
    background: transparent;
    background: radial-gradient(
      rgba(91, 32, 140, 0.36) 0,
      rgba(64, 64, 68, 0) 50%
    );
  }
}
