.project-carousel-card {
  width: 420px;
  align-self: stretch;
  margin-right: 48px;
  background-color: var(--carousel-panel-bg);
  border-radius: 32px;
  overflow: hidden;
  flex-shrink: 0;
  .project-carousel-card-content {
    padding: 32px;
  }
  .project-carousel-card-header {
    color: var(--carousel-panel-header-text);
    font-size: 1.5rem;
  }
  .project-carousel-card-text {
    color: var(--carousel-panel-text);
  }
  .project-carousel-card-image {
    width: 100%;
  }
}
