@import '../../../variables';

.project-page-container {
  flex-grow: 1;
  flex-basis: 100%;
  overflow: hidden;
  display: flex;
  // height: calc(100vh - 3.25rem - 96px);
}

.project-description-container,
.project-image-container {
  flex-basis: 50%;
}

.project-image-container {
  overflow: hidden;
}

.project-description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
}

.project-image-container {
  // height: calc(100vh - 3.25rem - 96px);
  position: relative;
}
.project-image-container svg:first-child {
  height: 100%;
}

.project-animation-wrapper {
  position: relative;
  min-width: 756px;
}

.slide-transition-wrapper {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  background: var(--bg);
  transition: height 0.3s cubic-bezier(0.9, 0, 0, 0.9);
}

.project-image-container .slide-transition-wrapper.show {
  height: 100%;
}

.project-description-container .slide-transition-wrapper {
  padding-top: 64px;
  transition: height 0.5s cubic-bezier(0.9, 0, 0, 0.9);
}
.project-description-container .slide-transition-wrapper.show {
  height: 100%;
}

// TEXT EDITOR
@keyframes caretBlink {
  0% {
    opacity: 1;
    background-color: $primary-500;
  }
  50% {
    opacity: 0;
    background-color: transparent;
  }
  100% {
    opacity: 1;
    background-color: $primary-500;
  }
}
.text-editor-caret {
  width: 0.5%;
  height: 3%;
  background-color: transparent;
  position: absolute;
  top: 12%;
  left: 62%;
}
.text-editor-caret.show {
  animation: caretBlink 1s step-end infinite;
}
