@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/home/index";
@import "./styles/colors";

.fade-in-and-slide-up {
  opacity: 0;
  transform: translateY(96px);
  transition: 0.7s all ease-in-out;
  &.visible {
    opacity: 100;
    transform: translateY(0);
  }
}
