@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/variables';

@import './styles/theme';

@import './styles/typography';

@import './styles/components/home/index';
@import './styles/components/common/index';
@import './styles/components/nav/index';

main {
  color: var(--base-text);
}

.page-container {
  background-color: var(--bg);
  max-width: 100vw;
  overflow: hidden;
}

.section-wrapper {
  &:first-child {
    padding-top: 108px;
  }
  padding-top: 54px;
  padding-bottom: 54px;
  &:last-child {
    padding-bottom: 0;
  }
}
section {
  position: relative;
}

.content-container {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

.wide-content-container {
  max-width: 1920px;
  width: 90%;
  margin: 0 auto;
}

.fade-in {
  opacity: 0;
  transition: 0.7s opacity ease-in-out;
  &.visible {
    opacity: 100;
  }
}
