@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/colors";

@import "./styles/components/home/index";
@import "./styles/components/common/index";
@import "./styles/components/nav/index";

body {
  @apply text-base-800;
}

.app-container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.fade-in {
  opacity: 0;
  transition: 0.7s all ease-in-out;
  &.visible {
    opacity: 100;
  }
}
