@import '../../variables';

.nav-float {
  position: fixed;
  top: 12px;
  right: 12px;
  z-index: 999;
  display: flex;
  flex-direction: row-reverse;
  pointer-events: none;
  transition: top 0.5s ease-in-out;
  @media screen and (min-width: $breakpoint-md) {
    top: -350px;
    right: 24px;
    &.show {
      top: 24px;
    }
  }

  .nav-float-toggle {
    width: 56px;
    height: 56px;
    border-radius: 32px;
    background-color: var(--nav-close-bg);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
    pointer-events: all;
    position: relative;
    z-index: 100;
    &:hover {
      background-color: var(--nav-close-bg-hover);
    }
    .nav-float-toggle-bars {
      position: relative;
      width: 24px;
      height: 16px;
      transition: height 0.3s ease-in-out;
      .nav-float-toggle-bar {
        background-color: var(--nav-close-icon-fill);
        position: absolute;
        height: 2px;
        width: 24px;
        transform: translate(-50%, -50%);
        &.bar-1 {
          top: 0;
          left: 50%;
          transition: all 0.1s ease-in-out;
        }
        &.bar-2 {
          top: 50%;
          left: 50%;
          transition: all 0.2s ease-in-out;
        }
        &.bar-3 {
          top: 100%;
          left: 50%;
          transition: all 0.3s ease-in-out;
        }
        &.bar-1,
        &.bar-2,
        &.bar-3 {
          transition-delay: 0.3s;
        }
        &.bar-cross-1,
        &.bar-cross-2 {
          width: 0;
          transition: all 0.3s ease-in-out;
        }
        &.bar-cross-1 {
          transform: translate(-50%, -50%) rotate(45deg);
          top: 50%;
          left: 50%;
          transition-delay: 0s;
        }
        &.bar-cross-2 {
          transform: translate(-50%, -50%) rotate(-45deg);
          top: 50%;
          left: 50%;
          transition-delay: 0.1s;
        }
      }
    }
  }

  &.open .nav-float-toggle {
    .nav-float-toggle-bars {
      .nav-float-toggle-bar {
        &.bar-1,
        &.bar-2,
        &.bar-3 {
          width: 0;
          transition-delay: 0s;
        }
        &.bar-cross-1,
        &.bar-cross-2 {
          width: 24px;
        }
        &.bar-cross-1 {
          transition-delay: 0.1s;
        }
        &.bar-cross-1 {
          transition-delay: 0.2s;
        }
      }
    }
  }

  .nav-float-panel {
    background-color: var(--nav-panel-bg);
    padding: 0px 8px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    pointer-events: all;
    position: fixed;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    @media screen and (min-width: $breakpoint-md) {
      height: 0px;
      box-shadow: 0 4px 12px var(--nav-panel-shadow);
      position: static;
      border-radius: 16px;
      margin-right: 20px;
    }

    .nav-float-panel-item {
      border-radius: 10px;
      font-weight: bold;
      color: var(--nav-panel-text);
      background: transparent;
      transition: background 0.1s ease-in-out;
      cursor: pointer;
      padding: 24px;
      &:first-child {
        margin-top: 80px;
      }
      &:not(:last-child) {
        margin-bottom: 8px;
      }
      &:hover,
      &:active {
        background: var(--nav-panel-active-bg);
      }

      @media screen and (min-width: $breakpoint-md) {
        &:first-child {
          margin-top: 0;
        }
        padding: 16px 12px;
        padding-right: 48px;
      }
    }
  }

  &.open .nav-float-panel {
    bottom: 0;
    @media screen and (min-width: $breakpoint-md) {
      padding: 8px;
      height: 328px;
    }
  }
}
