.carousel {
  position: relative;
  max-width: 1920px;
  margin: auto;

  @media screen and (min-width: $breakpoint-xl) {
    &:after {
      content: '';
      z-index: 50;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: calc(min(48px, 5%));
      background: transparent;
      background: linear-gradient(
        -90deg,
        rgba(var(--carousel-shadow), 0.7),
        rgba(var(--carousel-shadow), 0)
      );
    }

    &:before {
      content: '';
      z-index: 50;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: calc(min(48px, 5%));
      background: transparent;
      background: linear-gradient(
        90deg,
        rgba(var(--carousel-shadow), 0.7),
        rgba(var(--carousel-shadow), 0)
      );
    }
  }

  .carousel-cards-wrapper {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    & > *:not(.carousel-pre):not(.carousel-post) {
      max-width: 480px;
      width: 75%;
      flex-shrink: 0;
      &:not(:nth-last-child(2)):not(:last-child) {
        margin-right: calc(min(5%, 48px));
      }
    }
  }

  .carousel-cards-wrapper::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .carousel-pre,
  .carousel-post {
    width: calc(min(48px, 5%));
    flex-shrink: 0;
  }

  .indicators {
    display: flex;
    width: 100%;
    justify-content: center;
    @apply my-6;
    .indicator {
      &:not(:last-child) {
        margin-right: 12px;
      }
      border-radius: 4px;
      width: 48px;
      height: 8px;
      cursor: pointer;
      background-color: var(--carousel-indicator-inactive-bg);
      &.active {
        background-color: var(--carousel-indicator-active-bg);
      }
    }
  }
}
