.chip {
  background-color: var(--chip-bg);
  border: 1px solid var(--chip-border);
  border-radius: 999px;
  box-sizing: border-box;
  padding: 12px 24px;
  font-weight: 700;
  text-align: center;

  .chip-text {
    color: var(--chip-text);
  }

  .chip-sub-text {
    color: var(--chip-sub-text);
  }
  display: block;
  width: auto;

  &.solid {
    background-color: var(--chip-border);
  }

  &.button {
    padding: 12px;
    width: fit-content;
    transition: background 0.3s ease-in-out;
    color: var(--chip-text);
    &:not(.disabled):hover {
      background-color: var(--chip-hover-bg);
      color: var(--chip-text);
    }
    &.disabled {
      border-color: var(--chip-disabled-border);
      background-color: var(--chip-disabled-bg);
      color: var(--chip-disabled-text);
      pointer-events: none;
    }
  }
}
